div.main-con {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  div.d-flex {
    margin-top: 3.5rem;
    max-width: 100%;
    div.main {
      margin: 2rem 7rem;
      margin-left: 0;
      min-width: 300px;
      div.main_nav {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: white;
        border-radius: 10px 10px 0 0;
        height: 85px;
        div.middle {
          width: 90%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 16px;
          div.main_nav-middle-right {
            position: relative;
            span,
            button {
              display: inline-block;
              margin: 1rem 0rem;
              padding: 0.3rem 0.5rem;
            }
            span {
              color: $colorLighGray;
            }
            button {
              border: none;
              border-radius: 5px;
              img.main_nav-middle-right-downArrow {
                width: 18px;
                height: 18px;
                position: relative;
                top: -2px;
              }
            }

            div.sortSelector-con {
              display: flex;
              flex-direction: column;
              position: absolute;
              z-index: 9;
              right: 0;
              top: 50px;
              min-width: 10vw;
              padding: 0.25rem;
              box-shadow: 3px 3px 5px $colorMidGray;
              background-color: white;
              border-radius: 10px;
              & button {
                padding: 0.25rem 0.75rem;
                color: $colorMidGray;
                background: white;
                margin: 0.1rem 0;
                &:hover {
                  background: rgba(0, 0, 0, 0.1);
                  color: $OcardLightButtonBlue;
                }
                &:focus {
                  background: rgba(0, 67, 143, 0.2);
                  color: $OcardLightButtonBlue;
                }
              }
            }
          }
        }

        .main_nav-middle-mobile {
          display: none;
          width: 100%;
          height: 100%;
          button {
            flex: 1 1 100px;
            border: 3px solid transparent;
            background: white;
            color: $colorLighGray;
            font-weight: bolder;
          }
        }
      }

      div.main_banner {
        position: relative;
        max-height: 350px;
        border-bottom: 2px solid black;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      div.article_con {
        display: flex;
        justify-content: center;
        background: white;
        position: relative;
        padding-top: 1rem;
        cursor: pointer;

        div.middle {
          //pointer-events: none;
          width: 90%;
          display: flex;
          justify-content: space-between;
          //padding-bottom: 1rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          div.left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 8 1 300px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            div.top {
              display: flex;
              align-items: center;
              color: $colorLighGray;
              font-size: 0.9rem;
              div.genderIcon {
                width: 22px;
                height: 22px;
                margin-right: 10px;
                svg {
                  width: 100% !important;
                  height: 100% !important;
                }
              }
            }

            div.mid {
              position: relative;
              width: 100%;
              div.article_title {
                font-size: 110%;
                font-weight: bolder;
                width: 65%;
                padding: 0.3rem 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              div.article_content {
                color: $colorMidGray;
                font-size: 90%;
                max-height: 25px;
                width: 95%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 0;
              }
            }

            div.bottom {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin: 1rem 0;
              color: $colorLighGray;
              div.bottom-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                div.icons {
                  display: flex;
                  align-items: center;

                  button {
                    border: 1px solid white;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    width: 20px;
                    height: 20px;
                    &:hover {
                      transform: scale(1.25);
                    }
                    img {
                      position: relative;
                      top: -5px;
                      width: 90%;
                      height: 90%;
                    }
                  }
                }
                div.likeCount {
                  margin-left: 5px;
                }
              }

              div.bottom-right {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 5px;

                button {
                  border: 1px solid white;
                  border-radius: 50%;
                  position: relative;
                  overflow: hidden;
                  width: 20px;
                  height: 20px;
                  &:hover {
                    transform: scale(1.25);
                  }
                  svg {
                    fill: $OcardLightBlue;
                    position: relative;
                    top: -5px;
                    width: 100%;
                    height: 100%;
                  }
                }

                div.commentCount {
                  margin-left: 5px;
                }
              }
            }
          }
          div.right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 100px;

            div.imgContainer {
              width: 90px;
              height: 90px;
              border-radius: 10px;
              overflow: hidden;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid rgba(0, 0, 0, 0.1);
              img {
                width: 100px;
                height: 100px;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  div.main {
    margin-right: 2rem !important;
  }
}

@media screen and (max-width: 800px) {
  div.d-flex {
    margin-top: 1.75rem !important;
  }
  div.main {
    max-width: 100%;
    margin: 1rem 0 0 0 !important;

    div.main_nav {
      border-radius: 0 !important;
      height: 6vh !important;

      .middle {
        display: none !important;
      }

      .main_nav-middle-mobile {
        display: flex !important;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  div.main {
    div.main_nav {
      .main_nav-middle-mobile {
        button {
          font-size: 0.85rem;
        }
      }
    }
  }
}
