.ProfileModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  .ProfileModal-con {
    width: 500px;
    max-width: 1200px;
    height: 80vh;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin: 0.5rem;

    .ProfileModal-con-title {
      text-align: center;
      padding: 1rem 0;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    .ProfileData-con {
      margin: 1rem 2rem;
      height: 80%;
      position: relative;

      .ProfileAvator-box {
        display: flex;
        justify-content: center;
        align-items: center;
        .ProfileData-avatar {
          width: 65px;
          height: 65px;
          position: relative;
          & svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .ProfileData-box {
        margin: 1rem 0;
        & input,
        & select {
          width: 100%;
        }
      }
      .profile-btn-con {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & button {
          border: none;
          border-radius: 5px;
          margin: 0 0.25rem;
          padding: 0.5rem 0.75rem;
        }

        .profile-cancel-btn {
          background: $OcardButtonRed;
          color: white;
        }
        .profile-submit-btn {
          background: $OcardButtonBlue;
          color: white;
        }
      }
    }
  }
}
