.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 200px;
  margin: 2rem 7rem;
  margin-right: 0;
  max-height: 85vh;
  overflow: scroll;

  .active {
    background: rgba(255, 255, 255, 0.8);
    &:hover {
      background: rgba(255, 255, 255, 0.8);
      div {
        span {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
    div {
      span {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .boardSecond {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    color: rgba(255, 255, 255, 0.35);
  }

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: rgb(0, 32, 51);
    }

    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .board-icon-con {
        width: 30px;
        height: 30px;
        margin-right: 10px;

        img {
          background: white;
          width: 100%;
          border-radius: 5px;
        }
      }

      .board-icon-con2 {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;

        img {
          background: white;
          width: 100%;
          height: 100%;
        }
      }

      span {
        font-size: 16px;
        color: rgb(255, 255, 255);
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .sidebar {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .sidebar {
    min-width: 170px;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    display: none !important;
  }
}
