* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: #00324e;
}

a {
  text-decoration: none;
}

div.header-con {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #006aa6;
}

div.header-con .header {
  top: 0;
  width: 100%;
  max-width: 1440px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #006aa6;
  padding: 0.75rem;
}

div.header-con .header .logo {
  width: 85px;
  margin: 0.2rem 1rem;
  position: relative;
}

div.header-con .header .logo img {
  width: 100%;
}

div.header-con .header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header-con .header .header-left .ham_menu {
  display: none;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

div.header-con .header .header-left .ham_menu svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

div.header-con .header .header-left .ham_menu img {
  position: absolute;
  width: 100%;
}

div.header-con .header .header-left .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header-con .header .header-left .search input,
div.header-con .header .header-left .search button {
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  color: white;
}

div.header-con .header .header-left .search input {
  width: 650px;
  background-color: #00588a;
  border: 1px solid #00588a;
  border-radius: 5px 0 0 5px;
}

div.header-con .header .header-left .search button {
  padding: 5px 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #006aa6;
  border: 1px solid #00588a;
  border-radius: 0 5px 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header-con .header .header-left .search button svg {
  position: relative;
  height: 22px;
  width: 22px;
}

div.header-con .header .header-right a {
  color: white;
  font-weight: 100;
  font-size: 20px;
}

@media screen and (max-width: 950px) {
  .search input {
    width: 500px !important;
  }
}

@media screen and (max-width: 800px) {
  .header-left .ham_menu {
    display: block !important;
  }
  .header-left .search {
    display: none !important;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 200px;
  margin: 2rem 0;
  margin-left: 2rem;
  max-height: 85vh;
  overflow: scroll;
}

.sidebar .boardSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  color: rgba(255, 255, 255, 0.35);
}

.sidebar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.sidebar a:hover {
  background: #002033;
}

.sidebar a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar a div .board-icon-con {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar a div .board-icon-con img {
  background: white;
  width: 100%;
  border-radius: 5px;
}

.sidebar a div .board-icon-con2 {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar a div .board-icon-con2 img {
  background: white;
  width: 100%;
  height: 100%;
}

.sidebar a div span {
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 950px) {
  .sidebar {
    min-width: 170px;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none !important;
  }
}

div.main-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

div.main-con div.d-flex {
  max-width: 100%;
}

div.main-con div.d-flex div.main {
  margin: 2rem;
  margin-left: 0;
  min-width: 300px;
}

div.main-con div.d-flex div.main div.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: white;
  border-radius: 10px 10px 0 0;
  height: 85px;
}

div.main-con div.d-flex div.main div.main_nav div.middle {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.right span,
div.main-con div.d-flex div.main div.main_nav div.middle div.right button {
  display: inline-block;
  margin: 1rem 0rem;
  padding: 0.3rem 0.5rem;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.right span {
  color: rgba(0, 0, 0, 0.35);
}

div.main-con div.d-flex div.main div.main_nav div.middle div.right button {
  border: none;
  border-radius: 5px;
}

div.main-con div.d-flex div.main div.main_banner {
  position: relative;
  max-height: 350px;
  border-bottom: 2px solid black;
  overflow: hidden;
}

div.main-con div.d-flex div.main div.main_banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.main-con div.d-flex div.main div.article_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  position: relative;
  padding: 1rem 0;
}

div.main-con div.d-flex div.main div.article_con div.middle {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.top div.genderIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.top div.genderIcon svg {
  width: 100% !important;
  height: 100% !important;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.mid {
  position: relative;
  width: 100%;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.mid div.article_title {
  font-size: 1.15rem;
  font-weight: bolder;
  padding: 1rem 0;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.mid div.article_content {
  color: rgba(0, 0, 0, 0.5);
  max-height: 25px;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.main-con div.d-flex div.main div.article_con div.middle div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.main-con div.d-flex div.main div.article_con div.middle div.right div.imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

div.main-con div.d-flex div.main div.article_con div.middle div.right div.imgContainer img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  div.main {
    max-width: 100%;
    margin: 0 !important;
  }
  div.main div.main_nav {
    border-radius: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */