@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.stopScroll {
  overflow: hidden;
}

html {
  overflow: -moz-hidden-unscrollable;
  /*注意！若只打 hidden，chrome 的其它 hidden 會出問題*/
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: #00324e;
  -ms-overflow-style: none;
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.likesActive svg {
  fill: #ea5c5c !important;
}

.sortSelector-con-btn-active {
  color: #3397cf;
}

.mobile-sortBtn-active {
  color: rgba(0, 0, 0, 0.8) !important;
  border-bottom: 3px solid #3397cf !important;
}

div.header-con {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  background-color: #006aa6;
  width: 100%;
}

div.header-con .header {
  top: 0;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #006aa6;
  padding: 0.25rem 0;
}

div.header-con .header .logo {
  width: 85px;
  margin: 0.2rem 1rem;
  position: relative;
  cursor: pointer;
}

div.header-con .header .logo img {
  width: 100%;
}

div.header-con .header .header-left {
  margin-left: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

div.header-con .header .header-left .ham_menu {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

div.header-con .header .header-left .ham_menu svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

div.header-con .header .header-left .ham_menu img {
  position: absolute;
  width: 100%;
}

div.header-con .header .header-left .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

div.header-con .header .header-left .search input,
div.header-con .header .header-left .search button {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  color: white;
}

div.header-con .header .header-left .search input {
  width: 100%;
  background-color: #00588a;
  border: 1px solid #00588a;
  border-radius: 5px 0 0 5px;
  outline: none;
  letter-spacing: 1px;
}

div.header-con .header .header-left .search button {
  padding: 5px 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #006aa6;
  border: 1px solid #00588a;
  border-radius: 0 5px 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header-con .header .header-left .search button svg {
  position: relative;
  height: 22px;
  width: 22px;
  fill: white;
}

div.header-con .header .header-right {
  margin-right: 7rem;
}

div.header-con .header .header-right a,
div.header-con .header .header-right button {
  color: white;
  font-size: 16px;
}

div.header-con .header .header-right button {
  width: 27px;
  height: 27px;
  border: none;
  background: none;
  margin-left: 1.5rem;
  cursor: not-allowed;
}

div.header-con .header .header-right button svg {
  fill: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
}

div.header-con .header .header-right .post-btn,
div.header-con .header .header-right .logout-btn,
div.header-con .header .header-right .profile-btn {
  cursor: pointer;
}

div.header-con .header .header-right .post-btn svg,
div.header-con .header .header-right .logout-btn svg,
div.header-con .header .header-right .profile-btn svg {
  fill: white;
}

@media screen and (max-width: 1200px) {
  .header-right button {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 1100px) {
  .header-left {
    margin-left: 2rem !important;
  }
  .header-right {
    margin-right: 2rem !important;
  }
  .header-right button {
    margin-left: 0.8rem !important;
  }
}

@media screen and (max-width: 800px) {
  .header-left {
    margin-left: 1rem !important;
    width: 40% !important;
  }
  .header-left .ham_menu {
    display: block !important;
  }
  .header-left .search {
    display: none !important;
  }
  .header-right {
    margin-right: 1rem !important;
  }
  .header-right button {
    margin-left: 0.4rem !important;
  }
}

@media screen and (max-width: 400px) {
  .header-left .ham_menu {
    width: 25px !important;
    height: 25px !important;
  }
  .header-left .logo {
    width: 65px !important;
    margin: 0.25rem 0.5rem !important;
  }
  .header-right button {
    width: 24px !important;
    height: 24px !important;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 200px;
  margin: 2rem 7rem;
  margin-right: 0;
}

.sidebar .sidbar-header {
  display: none;
}

.sidebar .active {
  background: rgba(255, 255, 255, 0.8);
}

.sidebar .active:hover {
  background: rgba(255, 255, 255, 0.8);
}

.sidebar .active:hover div span {
  color: rgba(0, 0, 0, 0.8);
}

.sidebar .active div span {
  color: rgba(0, 0, 0, 0.8);
}

.sidebar .boardSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  color: rgba(255, 255, 255, 0.35);
}

.sidebar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.sidebar a:hover {
  background: #002033;
}

.sidebar a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar a div .board-icon-con {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.sidebar a div .board-icon-con svg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 1px;
  color: white;
}

.sidebar a div .board-icon-con2 {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar a div .board-icon-con2 img {
  background: white;
  width: 100%;
  height: 100%;
}

.sidebar a div span {
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .sidebar {
    min-width: 170px;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: white;
    z-index: 20;
    max-height: 100vh;
    overflow: scroll;
  }
  .sidebar .sidbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    min-height: 40px;
    background: #006aa6;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    position: relative;
  }
  .sidebar .sidbar-header .sidebar-close-btn-con {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
  }
  .sidebar .sidbar-header .sidebar-close-btn-con svg {
    position: absolute;
    fill: white;
    width: 100%;
    height: 100%;
  }
  .sidebar .boardSecond {
    color: rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 0.75rem 1.25rem;
  }
  .sidebar a {
    padding: 0.5rem 1.25rem;
  }
  .sidebar a:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  .sidebar a.active {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  .sidebar a.active:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .sidebar a div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar a div .board-icon-con {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .sidebar a div .board-icon-con svg {
    width: 100%;
    color: rgba(0, 0, 0, 0.35);
  }
  .sidebar a div .board-icon-con2 {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  .sidebar a div .board-icon-con2 img {
    background: white;
    width: 100%;
    height: 100%;
  }
  .sidebar a div span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }
}

div.main-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

div.main-con div.d-flex {
  margin-top: 3.5rem;
  max-width: 100%;
}

div.main-con div.d-flex div.main {
  margin: 2rem 7rem;
  margin-left: 0;
  min-width: 300px;
}

div.main-con div.d-flex div.main div.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: white;
  border-radius: 10px 10px 0 0;
  height: 85px;
}

div.main-con div.d-flex div.main div.main_nav div.middle {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right {
  position: relative;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right span,
div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right button {
  display: inline-block;
  margin: 1rem 0rem;
  padding: 0.3rem 0.5rem;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right span {
  color: rgba(0, 0, 0, 0.35);
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right button {
  border: none;
  border-radius: 5px;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right button img.main_nav-middle-right-downArrow {
  width: 18px;
  height: 18px;
  position: relative;
  top: -2px;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right div.sortSelector-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 50px;
  min-width: 10vw;
  padding: 0.25rem;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 10px;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right div.sortSelector-con button {
  padding: 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  background: white;
  margin: 0.1rem 0;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right div.sortSelector-con button:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #3397cf;
}

div.main-con div.d-flex div.main div.main_nav div.middle div.main_nav-middle-right div.sortSelector-con button:focus {
  background: rgba(0, 67, 143, 0.2);
  color: #3397cf;
}

div.main-con div.d-flex div.main div.main_nav .main_nav-middle-mobile {
  display: none;
  width: 100%;
  height: 100%;
}

div.main-con div.d-flex div.main div.main_nav .main_nav-middle-mobile button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  border: 3px solid transparent;
  background: white;
  color: rgba(0, 0, 0, 0.35);
  font-weight: bolder;
}

div.main-con div.d-flex div.main div.main_banner {
  position: relative;
  max-height: 350px;
  border-bottom: 2px solid black;
  overflow: hidden;
}

div.main-con div.d-flex div.main div.main_banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.main-con div.d-flex div.main div.article_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  position: relative;
  padding-top: 1rem;
  cursor: pointer;
}

div.main-con div.d-flex div.main div.article_con div.middle {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.main-con div.d-flex div.main div.article_con div.middle div.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 8;
      -ms-flex: 8 1 300px;
          flex: 8 1 300px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.9rem;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.top div.genderIcon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.top div.genderIcon svg {
  width: 100% !important;
  height: 100% !important;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.mid {
  position: relative;
  width: 100%;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.mid div.article_title {
  font-size: 110%;
  font-weight: bolder;
  width: 65%;
  padding: 0.3rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.mid div.article_content {
  color: rgba(0, 0, 0, 0.6);
  font-size: 90%;
  max-height: 25px;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.35);
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-left div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-left div.icons button {
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-left div.icons button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-left div.icons button img {
  position: relative;
  top: -5px;
  width: 90%;
  height: 90%;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-left div.likeCount {
  margin-left: 5px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-right button {
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-right button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-right button svg {
  fill: #3397cf;
  position: relative;
  top: -5px;
  width: 100%;
  height: 100%;
}

div.main-con div.d-flex div.main div.article_con div.middle div.left div.bottom div.bottom-right div.commentCount {
  margin-left: 5px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

div.main-con div.d-flex div.main div.article_con div.middle div.right div.imgContainer {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

div.main-con div.d-flex div.main div.article_con div.middle div.right div.imgContainer img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  div.main {
    margin-right: 2rem !important;
  }
}

@media screen and (max-width: 800px) {
  div.d-flex {
    margin-top: 1.75rem !important;
  }
  div.main {
    max-width: 100%;
    margin: 1rem 0 0 0 !important;
  }
  div.main div.main_nav {
    border-radius: 0 !important;
    height: 6vh !important;
  }
  div.main div.main_nav .middle {
    display: none !important;
  }
  div.main div.main_nav .main_nav-middle-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 400px) {
  div.main div.main_nav .main_nav-middle-mobile button {
    font-size: 0.85rem;
  }
}

div.LoginComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

div.LoginComponent div.login-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.LoginComponent div.login-con div.login-left {
  max-width: 400px;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 0 2rem;
}

div.LoginComponent div.login-con div.login-left div.img-con {
  width: 270px;
  height: 270px;
  position: relative;
}

div.LoginComponent div.login-con div.login-left div.img-con img {
  width: 100%;
}

div.LoginComponent div.login-con div.login-left h1 {
  font-size: 2rem;
  padding: 1rem 0;
  padding-bottom: 0;
  font-weight: bolder;
}

div.LoginComponent div.login-con div.login-left p {
  text-align: center;
  font-size: 1.2rem;
}

div.LoginComponent div.login-con div.login-left a {
  border: none;
  background-color: transparent;
  color: #3397cf;
}

div.LoginComponent div.login-con div.login-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 0 2rem;
  padding: 5rem;
  min-width: 250px;
  background-color: white;
  border-radius: 15px;
}

div.LoginComponent div.login-con div.login-right div.passport-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.LoginComponent div.login-con div.login-right div.passport-button button {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0;
}

div.LoginComponent div.login-con div.login-right div.passport-button button img {
  width: 25px;
  height: 25px;
}

div.LoginComponent div.login-con div.login-right div.passport-button .google-btn {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

div.LoginComponent div.login-con div.login-right div.passport-button .facebook-btn {
  background: #425f9c;
  color: white;
}

div.LoginComponent div.login-con div.login-right div.mid-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 1rem 0;
}

div.LoginComponent div.login-con div.login-right div.mid-line div.line {
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 150px;
}

div.LoginComponent div.login-con div.login-right div.mid-line div.or {
  margin: 0 2rem;
}

div.LoginComponent div.login-con div.login-right div.form-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1rem;
}

div.LoginComponent div.login-con div.login-right div.form-con div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 380px;
  position: relative;
}

div.LoginComponent div.login-con div.login-right div.form-con div label {
  color: black;
  margin: 0.5rem 0;
}

div.LoginComponent div.login-con div.login-right div.form-con div input {
  padding: 0.5rem 0.5rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

div.LoginComponent div.login-con div.login-right div.form-con div input:focus {
  border: none;
}

div.LoginComponent div.login-con div.login-right div.form-con div.button-con {
  max-width: 380px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

div.LoginComponent div.login-con div.login-right div.form-con div.button-con button {
  width: 50%;
  border: none;
  padding: 0.5rem;
  text-align: center;
  background: #3397cf;
  color: white;
}

div.LoginComponent div.login-con div.login-right div.form-con div.button-con .login-submit-btn {
  margin-right: 0.1;
}

div.LoginComponent div.login-con div.login-right div.form-con div.button-con .register-submit-btn {
  margin-left: 0.1rem;
  background: #006aa6;
}

@media screen and (max-width: 1030px) {
  div.login-left {
    display: none !important;
  }
}

@media screen and (max-width: 520px) {
  div.login-con {
    margin-top: 5rem !important;
  }
  div.login-con div.login-right {
    padding: 2.2rem !important;
  }
  div.login-con div.login-right button {
    width: calc(100% + 40px) !important;
  }
  div.login-con div.login-right div.form-con div {
    width: calc(100% + 40px) !important;
  }
  div.login-con div.login-right .line {
    width: 80px !important;
  }
}

.postArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  margin: 0 auto;
  height: 100vh;
}

.postArticle form.form-con {
  margin-top: 3.5rem;
  width: 70%;
  max-width: 1440px;
  max-height: 90vh;
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.35);
  overflow: scroll;
}

.postArticle form.form-con .form-con-title {
  font-size: 1.25rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.postArticle form.form-con .select-board {
  padding: 1rem 0;
}

.postArticle form.form-con .select-board button.board-selector {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.35rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postArticle form.form-con .select-board button.board-selector img {
  width: 15px;
  height: 15px;
}

.postArticle form.form-con .author-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.postArticle form.form-con .author-con .author-avatar {
  width: 30px;
  height: 30px;
  position: relative;
}

.postArticle form.form-con .author-con .author-avatar svg {
  width: 100%;
  height: 100%;
}

.postArticle form.form-con .author-con .author-con-right {
  margin-left: 0.5rem;
}

.postArticle form.form-con .author-con .author-con-right .author {
  color: black;
}

.postArticle form.form-con .author-con .author-con-right .currentTime {
  font-size: 0.7rem;
}

.postArticle form.form-con .content-con {
  margin-bottom: 1rem;
}

.postArticle form.form-con .content-con .post-title {
  position: relative;
}

.postArticle form.form-con .content-con .post-title input {
  font-size: 1.6rem;
  width: 100%;
  border: none;
  padding: 0.25rem;
  margin-bottom: 1rem;
  outline: none;
  letter-spacing: 1px;
}

.postArticle form.form-con .content-con .post-text {
  position: relative;
}

.postArticle form.form-con .content-con .post-text textarea {
  width: 100%;
  height: 40vh;
  border: none;
  padding: 0.25rem;
  outline: none;
  letter-spacing: 1px;
}

.postArticle form.form-con .temp-img-box {
  max-height: 70vh;
  position: relative;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.postArticle form.form-con .temp-img-box .temp-img-con {
  position: relative;
  max-width: 80%;
  max-height: 100%;
}

.postArticle form.form-con .temp-img-box .temp-img-con img {
  max-height: 100%;
  max-width: 100%;
}

.postArticle form.form-con .temp-img-box .temp-img-con button.close-btn {
  width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  border-radius: 2px;
  border: 1px solid black;
}

.postArticle form.form-con .temp-img-box .temp-img-con button.close-btn svg {
  width: 100%;
  height: 100%;
}

.postArticle form.form-con .footer-con {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
}

.postArticle form.form-con .footer-con .form-footer {
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  width: 1440px;
  max-width: 70%;
}

.postArticle form.form-con .footer-con .form-footer div .img-icon {
  fill: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.postArticle form.form-con .footer-con .form-footer div input {
  display: none;
}

.postArticle form.form-con .footer-con .form-footer button {
  border: none;
  color: white;
  background: #3397cf;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .form-con {
    padding: 0rem 1rem !important;
    width: 100% !important;
  }
  .footer-con {
    padding: 0.75rem 1rem !important;
  }
  .footer-con .form-footer {
    max-width: 100% !important;
  }
}

.boardSelector {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boardSelector .boardSelector-con {
  width: 500px;
  max-width: 1200px;
  height: 600px;
  border-radius: 20px;
  background: white;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 0.5rem;
}

.boardSelector .boardSelector-con .boardSelector-con-title {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.boardSelector .boardSelector-con .boards {
  margin: 1rem 2rem;
  max-height: 400px;
  overflow: scroll;
}

.boardSelector .boardSelector-con .boards .board {
  color: rgba(0, 0, 0, 0.6);
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.boardSelector .boardSelector-con .boards .board:hover {
  background: rgba(0, 0, 0, 0.1);
}

.articleDetail {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleDetail .articleDetail-con {
  width: 80vw;
  max-width: 700px;
  min-height: 100%;
  background: white;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  padding: 2rem 3rem;
  padding-bottom: 0;
  position: relative;
}

.articleDetail .articleDetail-con .articleDetail-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 0;
}

.articleDetail .articleDetail-con .articleDetail-header .authorDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleDetail .articleDetail-con .articleDetail-header .authorDetail .genderIcon {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 0.7rem;
}

.articleDetail .articleDetail-con .articleDetail-header .authorDetail .genderIcon svg {
  width: 30px;
  height: 30px;
}

.articleDetail .articleDetail-con .articleDetail-header .close-btn {
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  background: transparent;
}

.articleDetail .articleDetail-con .articleDetail-header .close-btn svg {
  width: 100%;
  fill: rgba(0, 0, 0, 0.35);
}

.articleDetail .articleDetail-con .articleDetail-content {
  height: 65vh;
  overflow: scroll;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-title {
  padding-bottom: 0.7rem;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.35);
  padding-bottom: 0.7rem;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-middle .articleDetail-board {
  color: #3397cf;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-text {
  min-height: 45vh;
  color: rgba(0, 0, 0, 0.75);
  white-space: break-spaces;
  word-break: break-word;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-text .articleDetail-img-con {
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  max-height: 70vh;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-text .articleDetail-img-con img {
  max-height: 100%;
  max-width: 100%;
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons button {
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons button img {
  position: relative;
  width: 90%;
  height: 90%;
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons button svg {
  fill: #3397cf;
  position: relative;
  width: 100%;
  height: 100%;
}

.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons div.likeCount,
.articleDetail .articleDetail-con .articleDetail-content .likesIcon-con div.icons div.commentCount {
  margin: 6px;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment {
  padding: 1rem 0 0 0;
  background: whitesmoke;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-header div {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.35);
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-left .genderIcon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-left .genderIcon svg {
  width: 30px;
  height: 30px;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid {
  min-height: 100px;
  -webkit-box-flex: 10;
      -ms-flex: 10 1 200px;
          flex: 10 1 200px;
  position: relative;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-title {
  padding-bottom: 0.5rem;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-title .email {
  font-weight: bolder;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-title .time-floor {
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.9rem;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-title .time-floor .floor {
  color: #3397cf;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-text {
  white-space: break-spaces;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.7);
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-img {
  max-width: 100%;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-mid .articleDetail-comment-mid-img img {
  max-width: 100%;
  max-height: 350px;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-right .articleDetail-comment-right-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.35);
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-right .articleDetail-comment-right-likes .icon-con {
  width: 25px;
  height: 25px;
  margin-right: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.articleDetail .articleDetail-con .articleDetail-content .articleDetail-comment .articleDetail-comment-box .articleDetail-comment-con .articleDetail-comment-right .articleDetail-comment-right-likes .icon-con svg {
  fill: rgba(0, 0, 0, 0.35);
  width: 25px;
  height: 25px;
}

.articleDetail .articleDetail-con .articleDetail-comment-input {
  padding: 1rem;
  max-height: 15vh;
  overflow: scroll;
}

.articleDetail .articleDetail-con .articleDetail-comment-input textarea {
  width: 100%;
  max-height: 15vh;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.articleDetail .articleDetail-con .articleDetail-comment-input .articleDetail-comment-input-img {
  width: 60%;
  position: relative;
  margin: 0 auto;
}

.articleDetail .articleDetail-con .articleDetail-comment-input .articleDetail-comment-input-img img {
  width: 100%;
}

.articleDetail .articleDetail-con .articleDetail-comment-input .articleDetail-comment-input-img .close-btn {
  width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  border-radius: 2px;
  border: 1px solid black;
}

.articleDetail .articleDetail-con .articleDetail-comment-input .articleDetail-comment-input-img .close-btn svg {
  width: 100%;
  height: 100%;
}

.articleDetail .articleDetail-con .articleDetail-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
}

.articleDetail .articleDetail-con .articleDetail-footer div .img-icon {
  fill: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.articleDetail .articleDetail-con .articleDetail-footer div input {
  display: none;
}

.articleDetail .articleDetail-con .articleDetail-footer button {
  border: none;
  color: white;
  background: #3397cf;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  .articleDetail-con {
    width: 100vw !important;
    padding: 0.75rem !important;
  }
}

.ProfileModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProfileModal .ProfileModal-con {
  width: 500px;
  max-width: 1200px;
  height: 80vh;
  border-radius: 20px;
  background: white;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 0.5rem;
}

.ProfileModal .ProfileModal-con .ProfileModal-con-title {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.ProfileModal .ProfileModal-con .ProfileData-con {
  margin: 1rem 2rem;
  height: 80%;
  position: relative;
}

.ProfileModal .ProfileModal-con .ProfileData-con .ProfileAvator-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProfileModal .ProfileModal-con .ProfileData-con .ProfileAvator-box .ProfileData-avatar {
  width: 65px;
  height: 65px;
  position: relative;
}

.ProfileModal .ProfileModal-con .ProfileData-con .ProfileAvator-box .ProfileData-avatar svg {
  width: 100%;
  height: 100%;
}

.ProfileModal .ProfileModal-con .ProfileData-con .ProfileData-box {
  margin: 1rem 0;
}

.ProfileModal .ProfileModal-con .ProfileData-con .ProfileData-box input,
.ProfileModal .ProfileModal-con .ProfileData-con .ProfileData-box select {
  width: 100%;
}

.ProfileModal .ProfileModal-con .ProfileData-con .profile-btn-con {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ProfileModal .ProfileModal-con .ProfileData-con .profile-btn-con button {
  border: none;
  border-radius: 5px;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
}

.ProfileModal .ProfileModal-con .ProfileData-con .profile-btn-con .profile-cancel-btn {
  background: #fa3737;
  color: white;
}

.ProfileModal .ProfileModal-con .ProfileData-con .profile-btn-con .profile-submit-btn {
  background: #00588a;
  color: white;
}
/*# sourceMappingURL=style.css.map */