$OcardLightBlue: rgb(51, 151, 207);
$OcardBlue: rgb(0, 106, 166);
$OcardButtonBlue: rgb(0, 88, 138);
$OcardLightButtonBlue: #3397cf;
$colorLighGray: rgba(0, 0, 0, 0.35);
$colorMidGray: rgba(0, 0, 0, 0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: rgb(0, 50, 78);
}

a {
  text-decoration: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@import "./header";
@import "./sidebar";
@import "./main";
@import "./login";
@import "./postArticle";
@import "./boardSelector";
@import "./articleDetail";
